node_modules/
dist/
.DS_Store
*.log
.env

# Yarn
.pnp.cjs
.pnp.loader.mjs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VitePress build output
.vitepress/cache/
.vitepress/dist/